.container {
    width: 80%;
    margin: 0 auto;
}
.currency-converter {
    max-width: 600px;
    width: 100%;
    margin: 60px auto;
    background-color: rgba(192, 217, 247, 0.938);
    border-radius: 10px;
}